
/* WIDTHS =========================================================== */

.calorieIn, .calorieOut,.sinfo, .spref, .artContain div{
	width: 50%;
}

details{
	width: 65%;
}

table{
	width: 75%;
}

.calorieIn table, .calorieOut table, .calorieIn details, .calorieOut details, .sinfo2,.rec h3, article, .rec, .rec img{
	width: 100%;
}

/* HEIGHTS =========================================================== */



.sinfo fieldset, .spref fieldset, .calorieIn fieldset, .calorieOut fieldset{
	height: 20em;
}


.rec img{
	height: 600px;
}


/* COLORS ====================================================== */

tr:first-of-type{
	background-color: dimgrey;
	
}

tbody:nth-child(odd) tr{
	background-color: lightgrey;
}

tbody:nth-child(even) tr{
	background-color: darkgray;
}

header{
	background-color: #64C3FF;
}


thead tr th{
	color: #ffffff;
}

/* DISPLAYS ============================================= */


.decor, .info ul{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}


.rec, article{
	display: flex;
	flex-direction: column;
	align-items: center;

}


.artContain{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
}

details summary::-webkit-details-marker {
  display:none;
}

ul li{
	list-style-type: none;
}


/* BOX MODELS ==================================== */

.containers{
	margin: 5%;
}

fieldset{
	margin: 2%;
}

fieldset div{
	margin: 2.5%;
}


/* FONTS ========================================== */

td, .calorieIn summary, .calorieOut summary{
	text-align: center;
}



legend{
	font-size: 1.5em;
}


ol li {
	text-align: justify;
}


/* OTHERS/COMBOS ========================================== */

td, th{
	padding: 2%;
	font-size: 1.25em;
}

fieldset{
	overflow: scroll;
}

.calorieIn summary, .calorieOut summary{
	padding: 1%;
	color: #313131;
	background-color: #ebebeb;
	margin: 5%;
	font-size: 1em;
	cursor: pointer;
	border-radius: 5px;
	border: 1px solid #515151;
	display: inline;
	width: 30%;
}

.info li{
	font-size: 1.5em;

}
