.calorieIn, .calorieOut{
	width: 50%;
}

.decor, .info fieldset div{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.containers{
	margin: 5%;
}


table{
	width: 75%;
}

td{
	text-align: center;
}

tr:first-of-type{
	background-color: dimgrey;
	
}

tbody:nth-child(odd) tr{
	background-color: lightgrey;
}

tbody:nth-child(even) tr{
	background-color: darkgray;
}

td, th{
	padding: 2%;
	font-size: 1.25em;
}

ul li{
	list-style-type: none;
}

.sinfo, .sdel, .spref{
	width: 35%;

}

.sinfo fieldset, .sdel fieldset, .spref fieldset{
		height: 20em;
}

header{
	background-color: #64C3FF;
}

fieldset div{
	margin: 2.5%;
}

legend{
	font-size: 1.5em;
}

fieldset{
	margin: 2%;
}

.calorieIn fieldset, .calorieOut fieldset{
	height: 20em;
}

.rec{
	width:100%;
	display: flex;
	flex-direction: column;
	align-items: center;

}

article{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.rec img{
	width: 800px;
	height: 600px;
	
}

.rec h3{
	width: 50%;
}

.sinfo2{
	width: 100%;
	
}

